/*
font-family: 'Fira Sans', sans-serif;
font-family: 'Orbitron', sans-serif;
*/
* {
  margin: 0;
  padding: 0; }

*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Fira Sans", sans-serif !important;
  font-size: 1.5rem;
  background-color: #25283f; }

.white {
  color: white; }

.blue {
  color: blue; }

.lightBlue {
  color: #6e6ef8; }

.green {
  color: #014901; }

.yellow {
  color: yellow; }

.purple {
  color: purple; }

.heroTron {
  background-color: black;
  font-family: "Orbitron", sans-serif;
  color: red; }
  .heroTron .main-heading {
    font-size: 10rem;
    letter-spacing: .25rem; }
  .heroTron .sub-heading {
    letter-spacing: .2rem; }

.card__mission {
  background-color: #ff5252;
  box-shadow: 2rem 2rem 5rem black; }
  .card__mission--title {
    font-size: 3rem;
    font-family: "Orbitron", sans-serif;
    letter-spacing: .25rem;
    text-transform: uppercase; }
  .card__mission--tenetTitle {
    font-size: 2.75rem;
    font-family: "Orbitron", sans-serif;
    letter-spacing: .25rem;
    background-color: #ff5252; }
  .card__mission--tenets {
    font-family: "Orbitron", sans-serif;
    letter-spacing: .25rem;
    font-weight: 700;
    font-size: 2rem;
    background-color: #ff5252; }
  .card__mission--summary {
    font-size: 1.75rem;
    letter-spacing: .15rem;
    line-height: 2; }

.card__july1 {
  background-color: #ff5252;
  box-shadow: 2rem 2rem 5rem black; }
  .card__july1--title {
    font-size: 2.25rem;
    font-family: "Orbitron", sans-serif;
    letter-spacing: .25rem;
    text-transform: uppercase; }
  .card__july1--tenetTitle {
    font-size: 2rem;
    font-family: "Orbitron", sans-serif;
    letter-spacing: .25rem;
    background-color: #ff5252; }
  .card__july1--tenets {
    font-family: "Orbitron", sans-serif;
    letter-spacing: .25rem;
    font-weight: 700;
    font-size: 1.5rem;
    background-color: #ff5252; }
  .card__july1--notes {
    font-size: 1.75rem;
    letter-spacing: .15rem;
    line-height: 1.25; }

.card__july3 {
  background-color: #ff5252;
  box-shadow: 2rem 2rem 5rem black; }
  .card__july3--title {
    font-size: 2.25rem;
    font-family: "Orbitron", sans-serif;
    letter-spacing: .25rem;
    text-transform: uppercase; }
  .card__july3--tenetTitle {
    font-size: 2rem;
    font-family: "Orbitron", sans-serif;
    letter-spacing: .25rem;
    background-color: #ff5252; }
  .card__july3--tenets {
    font-family: "Orbitron", sans-serif;
    letter-spacing: .25rem;
    font-weight: 700;
    font-size: 1.5rem;
    background-color: #ff5252; }
  .card__july3--notes {
    font-size: 1.75rem;
    letter-spacing: .15rem;
    line-height: 1.25; }

.card__july5 {
  background-color: #ff5252;
  box-shadow: 2rem 2rem 5rem black; }
  .card__july5--title {
    font-size: 2.25rem;
    font-family: "Orbitron", sans-serif;
    letter-spacing: .25rem;
    text-transform: uppercase; }
  .card__july5--tenetTitle {
    font-size: 2rem;
    font-family: "Orbitron", sans-serif;
    letter-spacing: .25rem;
    background-color: #ff5252; }
  .card__july5--tenets {
    font-family: "Orbitron", sans-serif;
    letter-spacing: .25rem;
    font-weight: 700;
    font-size: 1.5rem;
    background-color: #ff5252; }
  .card__july5--notes {
    font-size: 1.75rem;
    letter-spacing: .15rem;
    line-height: 1.25; }

.card__july6 {
  background-color: #ff5252;
  box-shadow: 2rem 2rem 5rem black; }
  .card__july6--title {
    font-size: 2.25rem;
    font-family: "Orbitron", sans-serif;
    letter-spacing: .25rem;
    text-transform: uppercase; }
  .card__july6--tenetTitle {
    font-size: 2rem;
    font-family: "Orbitron", sans-serif;
    letter-spacing: .25rem;
    background-color: #ff5252; }
  .card__july6--tenets {
    font-family: "Orbitron", sans-serif;
    letter-spacing: .25rem;
    font-weight: 700;
    font-size: 1.5rem;
    background-color: #ff5252; }
  .card__july6--notes {
    font-size: 1.75rem;
    letter-spacing: .15rem;
    line-height: 1.25; }

.card__july7 {
  background-color: #ff5252;
  box-shadow: 2rem 2rem 5rem black; }
  .card__july7--title {
    font-size: 2.25rem;
    font-family: "Orbitron", sans-serif;
    letter-spacing: .25rem;
    text-transform: uppercase; }
  .card__july7--tenetTitle {
    font-size: 2rem;
    font-family: "Orbitron", sans-serif;
    letter-spacing: .25rem;
    background-color: #ff5252; }
  .card__july7--tenets {
    font-family: "Orbitron", sans-serif;
    letter-spacing: .25rem;
    font-weight: 700;
    font-size: 1.5rem;
    background-color: #ff5252; }
  .card__july7--notes {
    font-size: 1.75rem;
    letter-spacing: .15rem;
    line-height: 1.25; }

.card__july17 {
  background-color: #ff5252;
  box-shadow: 2rem 2rem 5rem black; }
  .card__july17--title {
    font-size: 2.25rem;
    font-family: "Orbitron", sans-serif;
    letter-spacing: .25rem;
    text-transform: uppercase; }
  .card__july17--tenetTitle {
    font-size: 2rem;
    font-family: "Orbitron", sans-serif;
    letter-spacing: .25rem;
    background-color: #ff5252; }
  .card__july17--tenets {
    font-family: "Orbitron", sans-serif;
    letter-spacing: .25rem;
    font-weight: 700;
    font-size: 1.5rem;
    background-color: #ff5252; }
  .card__july17--notes {
    font-size: 1.75rem;
    letter-spacing: .15rem;
    line-height: 1.25; }
