/*
font-family: 'Fira Sans', sans-serif;
font-family: 'Orbitron', sans-serif;
*/

//FONTS
$font-primary: 'Fira Sans', sans-serif;
$font-secondary: 'Orbitron', sans-serif;

//COLORS
$color-green: rgb(1, 73, 1);