.white {
    color: white;
}

.blue {
    color: blue;
}

.lightBlue {
    color: rgb(110, 110, 248);
}

.green {
    color: $color-green;
}

.yellow {
    color: yellow;
}

.purple {
    color: purple;
}